<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width"> 
		<title>hello</title>
	</head>
	<body>
		<h1 style="font-size: 35px; text-align: center;">Hello {{ name }} </h1>
		{%if repos%}
			
			{%for repo in repos %}
				<ul>
				<li style="list-style-type: circle;">
				<strong>{{repo.repo}}</strong> last updated at <strong>{{repo.time}}</strong>
				</li>
				
				<table class="table", style="width: 80%; border-spacing: 10px; text-align: center;">
					<thead>
					  <tr>
						<th scope="col">Commit hash</th>
						<th scope="col">Author</th>
						<th scope="col">Date</th>
						<th scope="col">Commit message</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>{{ repo.commits }}</td>
						<td>{{ repo.author }}</td>
						<td>{{ repo.date }}</td>
						<td>{{ repo.message }}</td>
					  </tr> 
					</tbody>
				</table>
				</ul>
				<br>
			{% endfor %}
			</ul>
		{% else %}
			<p>No repositories found for this user.</p>
		{% endif %}

	</body>




</html>

