<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width"> 
		<title>hello</title>
	</head>
	<body>
		<h1 style="font-size: 35px; text-align: center;">Hello {{ name }} </h1>
		{%if repos%}
			
			{%for repo in repos %}
				<ul>
				<li style="list-style-type: circle;">
				<strong>{{repo.repo}}</strong> last updated at <strong>{{repo.time}}</strong>
				</li>
				</ul>
				<table style="font-size: 20px; ">
					<thead>
					<tr>
						<th>commit hash</th>
						<th>author</th>
						<th>date</th>
						<th>commit messag</th>
					</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{repo.commits}}</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				<br>
			{% endfor %}
			</ul>
		{% else %}
			<p>No repositories found for this user.</p>
		{% endif %}

	</body>




</html>

