<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width"> 
		<title>hello</title>
	</head>
	<body>
		<h1 style="font-size: 35px; text-align: center;">Hello {{ name }} </h1>
		{%if repos%}
			<ul style="font-size: 20px; text-align: center;">
			{%for repo in repos %}
				<li style="list-style-type: circle; text-align: center;">
				<strong>{{repo.repo}}</strong> last updated at <strong>{{repo.time}}</strong>
				<ul>
					<li style="list-style-type: square; text-align: center;">
						Latest Commit: {{repo.commits}}
					</li>
				</ul>
				</li>
				<br>
			{% endfor %}
			</ul>
		{% else %}
			<p>No repositories found for this user.</p>
		{% endif %}

	</body>




</html>

