<!DOCTYPE html>

<html lang="en">
	<head>
		<title>SSE-Lab2</title>
	</head>
	<body>
		<h1 style="font-size: large; text-align: center;">SSE-Lab2</h1>
		<p style="font-size: medium; text-align: center;">This is the second coursework.</p>
		<p style="font-size: small; text-align: center;">Hello World!</p>
		<form action="/submit" method="post">
			<label for="namefield"> Name: </label>
			<input type="text" id="namefield" name="name">
			<label for="agefield">Age:</label>
			<input type="number" id="agefield" name="age">
			<input type="submit" value="Submit">
		</form>

	</body>
</html>
